<template>
  <div>
    <b-navbar type="is-info" class="has-shadow">
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
            <span class="is-size-3">Find My Photos</span>
        </b-navbar-item>
      </template>
      <template slot="end" style="display: block !important;">
        <b-navbar-item>
          <h4>Easily find the photos you are in !</h4>
        </b-navbar-item>
      </template>
    </b-navbar>
    <div class="wrapper">
      <div class="content main-content">
        <div class="has-text-centered">
          <div class="columns is-mobile">
            <div class="column has-text-right">
              <h4>Step 1</h4>
              <p>Choose a folder where there are some photos of you only</p>
              <b-field class="file">
                <span class="file-name" v-if="selfieFolder">
                  {{ selfieFolder }}
                </span>
                <b-button @click="chooseSelfieFolder" type="is-primary">Choose Selfie Folder</b-button>
              </b-field>
            </div>
            <div class="column has-text-left">
              <h4>Step 2</h4>
              <p>Choose the folder where you want to search</p>
              <b-field class="file">
                <b-button @click="chooseSearchFolder" type="is-warning">Choose Search Folder</b-button>
                <span class="file-name" v-if="searchFolder">
                  {{ searchFolder }}
                </span>
              </b-field>
            </div>
          </div>
          <h4>Step 3</h4>
          <b-button @click="search" type="is-info" size="is-large">Find My Photos !</b-button><br/><br/>
          <div v-if="selfiesCount">
            <p class="content">Recognizing your face from <b class="is-bold">{{ selfiesCount }}</b> images</p>
            Searching in {{ imagesCount }} images...<br/>
            <p class="content">Found you in <b>{{ Object.keys(foundImages).length }}</b> images</p>
            <div id="gallery">
              <lingallery :iid.sync="galleryCurrentImageId" :width="500" :height="300" v-if="redoGallery" :startImage.sync="galleryStartImage" :items.sync="foundImages"/>
            </div><br/><br/>
            <div>
              <img :src="img.src" :key="img.id" class="foundImage" v-for="img in foundImages" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Lingallery from 'lingallery'

  export default {
    name: 'Index',

    components: {
      Lingallery
    },

    data () {
      return {
        selfiesCount: 0,
        imagesCount: 0,
        selfieFolder: '',
        searchFolder: '',

        redoGallery: false,
        foundImages: [],
        galleryCurrentImageId: null,
        galleryStartImage: 0
      }
    },

    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },

      chooseSelfieFolder () {
        // const folder = ['/home/mint/Pictures/z0a']
        const folder = this.$electron.remote.dialog.showOpenDialogSync({ properties: ['openDirectory'] })

        this.selfieFolder = folder[0]
      },

      chooseSearchFolder () {
        // const folder = ['/home/mint/Pictures/z0a/search']
        const folder = this.$electron.remote.dialog.showOpenDialogSync({ properties: ['openDirectory'] })

        this.searchFolder = folder[0]
      },

      search () {
        this.sendToWorker('setSelfieFolder', this.selfieFolder)
        this.sendToWorker('setSearchFolder', this.searchFolder)
      },

      workerResponseHandler (e, data) {
        const handlers = {
          searchFolderInfo: info => {
            this.imagesCount = info.imagesCount
          },

          selfieFolderInfo: info => {
            this.selfiesCount = info.selfiesCount
          },

          foundImage: info => {
            this.$set(this.foundImages, this.foundImages.length, {
              id: info.filename,
              caption: info.filename,
              thumbnail: info.url,
              src: info.url
            })
            this.$emit('update:galleryCurrentImageId', this.foundImages.length)

            this.redoGallery = false
            this.redoGallery = true
          }
        }

        if (handlers[data.action]) {
          handlers[data.action](data.payload)
        }
      },

      sendToWorker (action, payload) {
        if (typeof payload === 'string') {
          payload = [payload]
        }

        this.$electron.ipcRenderer.send('message-from-window', {
          action,
          payload
        })
      }
    },

    mounted () {
      this.$electron.ipcRenderer.on('message-from-worker', this.workerResponseHandler)
    }
  }
</script>

<style>
  .navbar {
    padding: 20px 40px
  }
  .foundImage {
    max-width: 100%;
    max-height: 100px;
  }
  .file.field {
    display: inline-flex;
  }
  .file-name {
    max-width: 30em;
  }
  #gallery {
    background: #000;
    text-align: center;
    padding: 10px 0;
  }
  .lingalleryContainer {
    display: table;
    margin: 0 auto;
  }
  .lingallery_thumbnails img {
    max-width: 50px;
    max-height: 50px;
  }
</style>
