<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Worker</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div class="wrapper">
      <canvas id="refImageOverlay" class="overlay"></canvas>
      <img id="refImage" style="max-height: 100px" />
    </div>

    <div class="wrapper">
      <canvas id="queryImageOverlay" class="overlay"></canvas>
      <img id="queryImage" />
    </div>
    
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <style>
      img {
        max-width: 100%;
      }
      .wrapper {
        display: inline-block;
        position: relative;
        height: 300px;
        width: 300px;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    </style>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
