<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'selfieaday'
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

  * {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
  }

  .main-content {
    padding-top: 20px;
  }
</style>
